*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height:auto;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}

nav ul {
    display: flex;
    list-style: none;
   
}

nav ul a{
    margin: 0 12px;
    color: white;

}

nav ul a:hover{
     color: grey;
}


.logo a{
    font-size: 38px;
    text-transform: uppercase;
    color: white;
}

header{ 
    background-color: black;
}

h1{
    
    text-align: center;
    font-size: 40px;
    margin: 18px 0;
    max-width: 800px;
}

.image-container{
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
}

h2{
    text-align: center;
    margin: 18px 0;
}

span{
    color: gray;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    box-shadow: 0px 0px 85px -16px rgba(212,212,212,1);
    margin: 16px 20px;
    border-radius: 12px;
  
}

.card a{
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 5px;
}

.card-content{
    text-align: center;
    padding: 12px;

}

footer{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 30px 0;
}


@media(max-width: 500px){
    h1 {
        font-size: 38px;
        margin: 15px 24px;
    }
    .header-content.logo {
        font-size: 10px;
    }
    nav{
        display: none;
    }

}


